<div class="container">
  <ul>
    <li *ngFor="let data of formData; let i = index">
      <form [formGroup]="forms[i]" *ngIf="forms[i]" class="form">
        <div class="form-group">
          <label>
            Text:
            <app-input formControlName="text"></app-input>
          </label>
        </div>
        <div class="form-group">
          <label>
            Select:
            <app-input formControlName="select" type="select"></app-input>
          </label>
        </div>
        <div class="form-group">
          <label>
            Date:
            <app-input formControlName="date" type="date"></app-input>
          </label>
        </div>
        <div class="form-group">
          <button (click)="updateFormData(i)" class="btn btn-primary">
            Save
          </button>
          <button (click)="deleteFormData(i)" class="btn btn-danger">
            Delete
          </button>
        </div>
      </form>
    </li>
  </ul>
</div>
