<form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <app-input type="text" formControlName="text" />
    <div *ngIf="form.controls['text'].invalid && form.controls['text'].touched">
      <small
        class="error-message"
        *ngIf="
          form.controls['text'].errors &&
          form.controls['text'].errors['required']
        "
      >
        Text is required.
      </small>
      <small
        class="error-message"
        *ngIf="
          form.controls['text'].errors &&
          form.controls['text'].errors['minlength']
        "
      >
        Text must be at least 3 characters.
      </small>
    </div>
  </div>
  <div class="form-group">
    <select formControlName="select" class="form-control">
      <option value="">Select</option>
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
    </select>
  </div>
  <div class="form-group">
    <app-input type="date" formControlName="date" />
  </div>
  <button type="submit" [disabled]="form.invalid" class="submit-btn">
    Submit
  </button>
</form>
